@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply flex flex-col min-h-screen;
  }

  html {
    @apply scroll-smooth;
  }

  header,
  footer {
    @apply w-[80%] max-w-[1600px] mx-auto pt-5 mb-16 lg:mb-0 lg:py-10;
  }

  main {
    @apply flex-1 lg:mt-12 w-[85%] lg:w-[70%] max-w-[1400px] mx-auto;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply transition font-medium underline underline-offset-2 decoration-gray-300 hover:no-underline hover:text-green-600;
  }

  p {
    @apply text-gray-700 text-base lg:text-xl lg:leading-9 mb-5;
  }

  li {
    @apply text-gray-700 text-base lg:text-xl lg:leading-9;
  }

  footer {
    @apply mt-16 lg:mt-56;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  @apply bg-slate-200
  /* background-image: url("https://images.pexels.com/photos/2088170/pexels-photo-2088170.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-repeat: no-repeat;
  background-size: cover; */
}

small {
  font-family: "Hack", monospace;
}

a {
  color: crimson;
  border-radius: 10px;
}

a:hover {
  color: white;
  background-color: rgb(248 113 113);
  border-radius: 10px;
}

.e-mail {
  padding: 5px;
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

.active {
  @apply  bg-red-400 rounded-xl text-white border border-blue-900 w-24 text-center font-semibold text-base lg:text-xl lg:leading-9 no-underline p-2;
}

.deActive{
  @apply text-blue-400 rounded-xl p-2 border border-blue-900 shadow-sm shadow-slate-900 text-base lg:text-xl lg:leading-9 no-underline hover:bg-red-400 hover:rounded-xl hover:text-white w-24 text-center
}